<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95739829589-8h5dej5a4semaigj91vgvj3jsu5nvrgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95739829589-8h5dej5a4semaigj91vgvj3jsu5nvrgi</string>
	<key>API_KEY</key>
	<string>AIzaSyDdi1Y2eAyBLDDMO-VdtM8lHBqC1O2B1RM</string>
	<key>GCM_SENDER_ID</key>
	<string>95739829589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wafflestudio.yeonguham</string>
	<key>PROJECT_ID</key>
	<string>yeonguham-f5cf6</string>
	<key>STORAGE_BUCKET</key>
	<string>yeonguham-f5cf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95739829589:ios:c53ef117fd82162c9c23dc</string>
</dict>
</plist>